<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-page">
    <div class="form">
<form method="post" class="login-form">
  {% csrf_token %}
  <input type="text" placeholder="username" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"/>
  <input type="password" placeholder="password" name="password" autocomplete="current-password" required="" id="id_password"/>
  <button type="submit">Log In</button>
  <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
</form>
</div>
</div>
{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}